.primaryTitle {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 1.5em;
  line-height: 1em;
}

.faqAnswer {
  font-size: 1.15em;
  color: var(--primary);
  transition: 1s all ease;
  padding:1em 2em;
  margin-top:2px;
}

.questionIcon {
  transition: 0.25s all ease;
}

.questionIconRotated {
  transform: rotate(45deg);
  filter: brightness(0.75);
}

.answerHidden {
  height: 0;
  display: none;
}

.faqQuestion.active {
  height: unset;
  display: block;
}

.faqQuestion {
  color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:1em 2em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
  border: none;
  width: 100%;
  cursor: pointer;
  text-align: left;
}

.faqQuestion svg {
  margin-right: 1em;
  background-color: var(--accent);
  padding: 0.5em;
  border-radius: 1em;
  font-size: 1em;
  width: 1em;
  height: 1em;
}

.allFaqs {
  display: grid;
  gap: 1em;
  margin: 1em 0;
  padding-bottom: 10em;
  margin-bottom: 0;
}